// 文字选中背景色
::selection {
    color: #fff;
    background: #6a4c9c;
}

// 文字颜色渐变
.colorfulfont {
    background: linear-gradient(to right, rgb(25, 221, 238), #ed4588); //第一个颜色代码是渐变起始色，第二个颜色代码是渐变结束色；
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

//重点标记
mark{
    background: hsla(199, 64%, 63%, 0.696);
}

//文本高斯模糊
.blur {
    color: transparent;
    text-shadow:0px 0px 8px var(--card-text-color-main)
}
 
.blur:hover {
    color: transparent;
    text-shadow:0px 0px 0px var(--card-text-color-main)
   
}

//文本黑幕效果
.shady {
    color:#000;
    font-weight: bold;
    box-shadow: 0px -20px 0px rgba(0,0,0,1) inset; 
    transition: all 0.3s ease;
}
.shady:hover{
   font-weight: bold;
    color:#FFF;
    box-shadow: 0px -20px 0px rgba(0,0,0,1) inset; 
}

// 卡片样式
.mycard {
    padding: 20px 30px;
    margin: 20px 0;
    border-radius: 12px; /* 增加圆角 */
    word-break: break-all;
    background: linear-gradient(135deg, #e0f7fa, #c2e0f7); /* 线性渐变背景 */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); /* 稍微调整阴影 */
    .content {
      line-height: 32px;
      color: #333; /* 调整文字颜色，使其在浅色背景上更清晰 */
    }
}

// 为代码块顶部添加 macOS 样式
.article-content {
  .highlight:before {
    content: '';
    display: block;
    background: url(/code-header.svg);
    height: 24px;
    width: 100%;
    background-size: 57px;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    background-position: -1px 2px;
  }
}

// 行内代码背景色和字体颜色
// 现代深蓝
:root {
  --code-background-color: #e1eaff;  /* 浅深蓝色 */
  --code-text-color: #003366;  /* 深蓝色 */

  &[data-scheme="dark"] {
    --code-background-color: #1c2833;
    --code-text-color: #3498db;
  }
  // &[data-scheme="dark"] {
  //   --code-background-color: #1a2638;
  //   --code-text-color: #7fdbff;
  // }
}
// 平静专业蓝
// :root {
//   --code-background-color: #f0f4ff;
//   --code-text-color: #5a67d8;
// }
// :root {
//   --code-background-color: #e3f2fd;  /* 浅蓝色 */
//   --code-text-color: #1976d2;  /* 蓝色 */
// }
// :root {
//   --code-background-color: #fff4e1;  /* 米色 */
//   --code-text-color: #c75c5c;  /* 红棕色 */
// }
// 鲜艳红
// :root {
//   --code-background-color: #fff5f5;
//   --code-text-color: #e53e3e;
// }
// 柔和绿
// :root {
//   --code-background-color: #f0fff4;
//   --code-text-color: #38a169;
// }

// 固定代码块的高度
.highlight {
    background-color: var(--pre-background-color);
    padding: var(--card-padding);
    position: relative;

    &:hover {
        .copyCodeButton {
            opacity: 1;
        }
    }
    // keep Codeblocks LTR
    [dir="rtl"] & {
        direction: ltr;
    }
    pre {
        margin: initial;
        padding: 0;
        margin: 0;
        width: auto;
        max-height: 20em;
    }
}

// 左侧导航栏菜单间距
#main-menu {
  margin: auto;

  &, .menu-bottom-section ol {
      flex-direction: column;
      gap: 20px;

      @include respond(xl) {
          gap: 20px;
      }
  }
}

// 站点头像，网站名字和描述居中
.sidebar header {
  .site-avatar {
    margin: auto;
  }

  .site-name {
    margin: auto;
  }

  .site-description {
    margin: auto;
    font-size: 1.3rem;
    @include respond(2xl) {
      font-size: 1.6rem;
    }
  }
}
// 社交图标居中
.menu-social {
  margin: auto;
}

// 归档页面 分类列表优化
.subsection-list {
    .article-list--tile {
        display: flex;
        padding-bottom: 15px;

        article {
            width: 200px;
            height: 120px;
            margin-right: 10px;

            .article-title {
                margin: 0;
                font-size: 1.8rem;
            }

        }
    }
}

// 归档页面卡片缩放动画
.article-list--tile article {
  transition: .6s ease;
}
.article-list--tile article:hover {
  transform: scale(1.03, 1.03);
}

// 归档页面两栏
@media (min-width: 1024px) {
  .article-list--compact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: none;
    box-shadow: none;
    gap: 1rem;

    article {
      background: var(--card-background);
      border: none;
      box-shadow: var(--shadow-l2);
      margin-bottom: 8px;
      border-radius: 16px;
    }
  }
}

// 搜索菜单动画
.search-form.widget {
  transition: transform 0.6s ease;
}
.search-form.widget:hover {
  transform: scale(1.1, 1.1);
}

// 右侧标签云样式
// .tagCloud {
//   .tagCloud-tags {
//       a {
//           background: var(--card-background);
//           box-shadow: var(--shadow-l1);
//           border-radius: 50px;
//           // padding: 6px 16px;
//           color: var(--card-text-color-main);
//           font-size: 1.4rem;
//           transition: all 0.3s ease;

//           // &:hover {
//           //     box-shadow: var(--shadow-l2);
//           //     transform: translateY(-2px); // 轻微上浮效果
//           //     background: var(--card-background-selected, var(--card-background)); // 如果定义了选中背景色则使用
//           // }
//       }
//   }
// }
// 右侧标签云样式：现代化 tag
.tagCloud {
  .tagCloud-tags {
    a {
      position: relative;
      background: black;
      box-shadow: var(--shadow-l1);
      border-radius: 0 5px 5px 0;
      padding: 6px 20px;
      color: white;
      font-size: 1.4rem;
      transition: all 0.3s ease;
      clip-path: polygon(20px 0, 0 50%, 20px 100%, 100% 100%, 100% 0);
    }

    // 添加小圆点
    a::before {
      content: ''; /*  伪元素必须要有 content 属性，即使内容为空 */
      display: block; /*  将伪元素设置为块级元素，以便设置宽高 */
      position: absolute; /*  绝对定位，使其相对于 <a> 元素定位 */
      left: 10px; /*  调整小圆点的水平位置，使其位于标签左侧一定距离 */
      top: 50%; /*  垂直居中 */
      transform: translateY(-50%); /*  使用 translateY 进一步垂直居中对齐 */
      width: 4px; /*  设置小圆点的宽度 */
      height: 4px; /*  设置小圆点的高度 */
      background-color: white; /*  圆点的颜色 */
      border-radius: 50%; /*  设置为 50% 实现圆形效果 */
    }
  }
}
